body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: center;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.container-flex {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

*,
* !:before,
* !:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.main-container {
    width: 1200px;

    padding: 0 20px;
    margin: 0 auto;
    display: flex;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #283136;

    background-color: #eeeeee;
    background-image: url("../img/grey-back.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    padding: 45px 10px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation ul {
    padding: 0;
}

.main-header-logo {
    display: flex;
    width: 235px;
    padding-left: 3px;
    padding-bottom: 7px;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.2;
}


.site-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 201px;
    width: 100%;
    text-transform: uppercase;

}

.site-navigation a {
    display: block;
    vertical-align: middle;
    color: #283136;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active {
    color: #bdbdbd;
}

.site-navigation-current {
    border-bottom: 2px solid #fb565a;
    padding-bottom: 3px;

}


.site-navigation li {
    padding: 14px 46px 0 0;
    font-weight: 600;
}

.site-navigation li:last-child {
    padding-right: 0;
    margin-left: auto;
    position: relative;
    padding-left: 50px;
}

.purchase-basket {
    position: relative;
}

.purchase-basket::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -40px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}




.sliders {
    position: relative;
    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 105px;
    z-index: 100;
    margin-left: 8px;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slider-item h2 {
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    margin: 0;
    margin-bottom: 38px;
}

.slider-item {
    display: none;
    padding: 70px 0px 80px 7px;
}

.slider-item-wrapper {
    max-width: 640px;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 95% 12px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slide-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-controls label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.button-learn-more {
    display: block;
    width: 240px;
    padding: 17px 0;

    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button-learn-more:hover {
    background-color: #e74246;
}

.button-learn-more:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.advanteges-list {
    list-style: none;
}

.advanteges-item h3 {
    font-size: 24px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
}

.advanteges-item p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}

.advanteges-button {
    display: block;
    width: 160px;
    padding: 16px 0;
    margin-bottom: 2px;

    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;


    border-radius: 3px;
    border: none;
}

.advanteges-button-red {
    background-color: #fb565a;
}

.advanteges-button-red:hover {
    background-color: #e74246;
}

.-advanteges-button-red:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.advanteges-button-green {
    background-color: #00ca74;
}

.advanteges-button-green:hover {
    background-color: #00bc6c;
}

.advanteges-button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.advanteges-button-yellow {
    background-color: #efc84a;
}

.advanteges-button-yellow:hover {
    background-color: #eab534;
}

.advanteges-button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.line {
    position: absolute;
    border-bottom: 2px solid #eee;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
}

.advanteges-line {
    margin: 0 20px;
}

.advanteges-list {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    padding: 80px 8px;
    margin: 0;
}

.advanteges-item {
    width: 300px;
}

.advanteges {
    position: relative;
}

.studio {
    position: relative;
}

.information {
    width: 660px;
}

.information {
    display: flex;
    flex-wrap: wrap;
}

.information h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 18px;
}

.information h4 {
    text-transform: uppercase;
    margin-bottom: 12px;
}

.studio-info {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 38px 8px 31px;
    align-items: flex-start;
}

.develope {
    list-style: none;
    line-height: 48px;
    margin: 0;
    padding: 0;
}

.develope li {
    position: relative;
    padding-left: 37px;
}

.develope li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-image: url("../img/red-line.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.nerds-procent {
    width: 360px;
    padding-top: 227px;
    background-color: #ffffff;
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: top;
}

.nerds-procent h4 {
    text-align: center;
    text-transform: uppercase;
}

.procent p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.procent-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.procent-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 29px 0px;
}

.procent-list li {
    padding-right: 27px;
}

.procent-list p {
    line-height: 18px;
}

.procent-list-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 29px;
    position: relative;
}

.procent-list-title::after {
    content: '%';
    font-size: 28px;
    position: absolute;
    top: -9px;
}

.level {
    display: block;
    width: 90px;
    position: absolute;
    bottom: 140px;
    right: 260px;
}

.deadline {
    display: block;
    width: 96px;
    position: absolute;
    bottom: 140px;
    right: 119px;
}

.payment {
    display: block;
    width: 110px;
    position: absolute;
    bottom: 140px;
    right: -27px;
}


.sponsor {
    position: relative;
}

.sponsor-line-before {
    top: 0;
}

.sponsor-list {
    list-style: none;
}

.sponsor-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 1160px;
    padding: 50px 10px 37px;
}

.sponsor-list li {
    position: relative;
    width: 260px;
    text-align: center;
    align-self: center;
}

.sponsor-list li::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -25px;
    border-right: 2px solid #eee;
    height: 50px;
}

.sponsor-list li:last-child::after {
    display: none;
}

.sponsor-list a {
    display: inline-block;
}

.sponsor-list .sponsor-logo-html,
.sponsor-list .sponsor-logo-barbershop,
.sponsor-list .sponsor-logo-pink,
.sponsor-list .sponsor-logo-mishka {
    opacity: 0.5;
}

.sponsor-list .sponsor-logo-html:hover,
.sponsor-list .sponsor-logo-barbershop:hover,
.sponsor-list .sponsor-logo-pink:hover,
.sponsor-list .sponsor-logo-mishka:hover {
    opacity: 1;
}

.sponsor-list .sponsor-logo-html:active,
.sponsor-list .sponsor-logo-barbershop:active,
.sponsor-list .sponsor-logo-pink:active,
.sponsor-list .sponsor-logo-mishka:active {
    opacity: 0.2;
}

.map {
    background-image: url("../img/map.png");
    height: 415px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.map-image {
    position: relative;
}

.contact-form {
    background-color: #ffffff;
    padding: 28px 50px;
    position: absolute;
    top: 55px;
    left: 29px;
}

.contact-form h4 {
    word-spacing: 3.9px;
    font-size: 17px;
}

.contact-form p {
    line-height: 20px;
}

.contact-form .button-learn-more {
    margin: 36px 0 17px;
    width: auto;
    padding: 17px 44px;
}

.contacts p {
    font-size: 16px;
    line-height: 18px;
}


.map-marker {
    background-image: url("../img/map-marker.png");
    background-repeat: no-repeat;
    background-position: top;
    width: 250px;
    height: 192px;
    position: absolute;
    top: 90px;
    right: 251px;

}

.main-footer {
    background-color: #ffffff;
}

.footer-social ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
}

.social-button:hover path {
    fill: #ffffff;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-slogan {
    text-align: center;
    font-size: 36px;
    line-height: 0px;
    font-weight: 700;
}

.footer-discount {
    line-height: 6px;
}

.footer-slogan p {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.footer {
    display: flex;
}

.footer-social {
    margin: 30px 10px;
}

.slogan {
    text-align: left;
    margin-left: 130px;
    padding: 18px 0;
}


.modal {
    display: none;
    color: #000000;
    font-weight: 700;
    position: fixed;

    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0px 25px 50px 10px rgba(0, 0, 0, 0.7);
}

.write-us {
    top: 200px;
    left: 200px;

    width: 960px;

    padding: 80px 100px;
}

.modal-close {
    position: absolute;
    top: 120px;
    right: 170px;
    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: white;
    border: 0;
    background-image: url("../img/close-cross.svg");
    opacity: 0.4;

    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
    background-color: white;
    border: 0;
}

.modal-close:active {
    opacity: 0.2;
    background-color: white;
    border: 0;
}

.write-us h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.write-us p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.modal-window {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.write-us-form input[type="text"] {
    font: inherit;
    color: #d7dcde;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    width: 360px;
    min-height: 50px;
    border-radius: 5px;


    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.write-us-form input:hover {
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
}

.write-us-form input:focus {
    border-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

.write-us-form input:invalid {
    border-color: ##e74246;
    color: #e74246;
}

.write-us-form textarea {
    font: inherit;
    color: #d7dcde;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    width: 800px;
    min-height: 120px;
    border-radius: 5px;


    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.write-us-form textarea:hover {
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
}

.write-us-form textarea:focus {
    border-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

.write-us-form textarea:invalid {
    border-color: ##e74246;
    color: #e74246;
}

.write-us-item {
    width: 360px;
}

.write-us-field {
    width: 760px;
}

.title {
    justify-content: center;
    padding: 30px 0 70px 15px;
}



.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;

}

fieldset {
    margin: 0;
}

.filter fieldset {
    border: none;
}

.range-item {
    padding-top: 51px;
    padding-bottom: 40px;
    margin-left: -3px;

    border: none;

}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 17px;
}

.range-controls .toggle-max {
    left: 159px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

.range-item legend {
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.radio-item legend,
.checkbox-item legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}


.filters {
    width: 260px;
}

.transcript {
    color: rgba(0, 0, 0, 0.5);
}

.transcript:hover {
    color: rgba(0, 0, 0, 1);
}

.transcript:disabled {
    color: rgba(0, 0, 0, 0.2);
}

.radio-item {
    margin-left: -3px;
    padding-bottom: 17px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.filter-section input {
    display: block;
    width: 30px;
    height: 30px;
}

.filter-section input[type="radio"] {
    display: none;
}

.filter-section input[type="radio"] + label {
    display: block;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: -10px;
}

.filter-section input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color: #c1c1c1;
    vertical-align: middle;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.filter-section input[type="radio"]:hover + label::before {
    opacity: 1;
}

.filter-section input[type="radio"]:disabled + label::before {
    opacity: 0.2;
}

.filter-section input[type="radio"]:checked + label::before {
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    content: "";
}

.checkbox-item {
    margin-left: -3px;
    padding-bottom: 25px;
    padding-top: 8px;
}

.filter-section input[type="checkbox"] {
    display: none;
}

.filter-section input[type="checkbox"] + label {
    display: block;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: -10px;
}

.filter-section input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    margin-right: 9px;
    width: 27px;
    height: 23px;
    color: #c1c1c1;
    vertical-align: middle;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.filter-section input[type="checkbox"]:hover + label::before {
    opacity: 1;
}

.filter-section input[type="checkbox"]:disabled + label::before {
    opacity: 0.2;
}

.filter-section input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    width: 27px;
    height: 23px;
    content: "";
}

.filtration-button{
    padding-left: 9px;
    margin-top: 11px;
}

.filter-button {
    display: block;
    width: 260px;
    padding: 16px 0;

    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #eeeeee;
    border-radius: 3px;
    border: none;
}

.filter-button:hover {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.sort {
    width: 760px;
    margin-left: 148px;
    margin-top: 36px;
}

.sort-section h3 {
    text-transform: uppercase;
    font-size: 18px;
}


.sort-name,
.sort-arrows {
    list-style: none;
}

.sort-name a,
.sort-arrows a {
    color: #cacaca;
}

.sort-name a:hover {
    color: #8d8d8d;
}

.sort-arrows a:hover {
    color: #8d8d8d;
}

.sort-name a:active {
    color: #000000;
}

.sort-arrows a :active {
    color: #000000;
}

.sort-current a {
    color: #000000;
}

.sort-current a:hover {
    color: #000000;
}

.sort-current a:hover {
    color: #000000;
}


.sort-section {
    display: flex;
}

.sort-navigation {
    padding-left: 266px;
    margin-top: 6px;
}

.arrows-navigation {
    padding-left: 12px;
}

.sort-name {
    display: flex;
    justify-content: space-between;
    width: 272px;
    font-size: 14px;
}

.sort-arrows {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    position: relative;
}

.triangle-bottom {
    content: "";
    position: absolute;
    top: 11px;
    left: 36px;
    width: 12px;
    height: 12px;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: white;
    opacity: 0.2;
}

.triangle-top {
    content: "";
    position: absolute;
    top: 11px;
    right: -17px;
    width: 12px;
    height: 12px;
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: white;
    opacity: 0.2;
}

.triangle-bottom,
.triangle-top:hover {
    opacity: 0.4;
}

.triangle-bottom,
.triangle-top:active {
    opacity: 1;
}

.sort ul {
    padding: 0;
}

.catalog {
    width: 760px;
    margin: 44px 0px -28px 148px;
}


.catalog-list {
    list-style: none;
}

.catalog-item {
    position: relative;

}


.catalog-item::before {
    content: "";
    position: absolute;
    top: -22.5px;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: white;
    opacity: 0.2;
    border-radius: 4px;
}

.catalog-item:hover::before {
    content: "";
    position: absolute;
    top: -22.5px;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: white;
    opacity: 1;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.catalog-item:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}


.catalog-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item {
    width: 360px;
    margin-right: 40px;
    margin-bottom: 34px;

}

.catalog-item-image {
    width:360px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog ul {
    padding: 0;
}

.price-menu h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0px 5px;
    margin: 27px 0px 0px 0px;
}

.price-menu p {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    flex-wrap: wrap;
    padding: 0px 60px;
    margin: 15px 17px 0px 17px;
}

.price-menu {
    background-color: #eeeeee;
}

.price-menu .button-learn-more {
    color: #ffffff;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 45px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.price-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 360px;
    height: 231px;
    bottom: 22px;
    right: 0px;
    left: 0px;
    text-align: center;

}

/*.catalog-item:hover .price-menu {
    display: flex;
}*/

.pagination-list {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
}

.pagination-list {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pages ul {
    padding: 0;
}

.pages {
    width: 450px;
    padding-left: 50px;
    margin-bottom: -21px;
}

.pagination-item {
    margin-right: 11px;
}

.pagination-item a {
    display: block;
    width: 50px;
    padding: 13px 0;

    font: inherit;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #eeeeee;
    border-radius: 3px;
    border: none;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item-current a {
    color: #000000;
    background: transparent;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
    color: #000000;
    background: transparent;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item-next a {
    display: block;
    width: 260px;
    padding: 13px 0;

    font: inherit;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #eeeeee;
    border-radius: 3px;
    border: none;
}

.pagination-item-next a:hover {
    background-color: #dfdfdf;
}

.pagination-item-next a:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
